
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container-body{
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-bar{
  color: #fff;
}
.nav-footer{
  color: #00aaff;
}
/*composant style intro*/
#hero {
  position: relative;
  background-image: url('../public/img/photo_p.avif'); 
  background-size: 300px 150px; 
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
  color: white; 
  padding: 50px;
  text-align: center;
  height: 400px;
}
.cv{
  margin-top: 10vw;
}
.hero-content {
  position: relative; 
  z-index: 1;
  margin: auto;
}

#hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 0; 
}

h1, p, strong, .btn {
  position: relative;
  z-index: 1; 
}
.title-info{
   text-align: center;
  padding: 8px;
}
.btn:hover {
  background-color: #333;
  color: #fff;
  transform: scale(1.05); 
}
.hero-content h1, .hero-content p, .hero-content strong {
  opacity: 0;
  transform: translateX(20px);
  animation: fadeInUp 3s ease-in-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero-content h1 {
  animation-delay: 0.2s;
}

.hero-content p {
  animation-delay: 0.4s;
}

.hero-content strong {
  animation-delay: 0.6s;
}


.btn {
  background-color: #fff; /* Couleur du bouton */
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.social-links{
  display: flex;
  gap: 2em;
  justify-content: center;
}
/* src/components/Skills.css */
#skills-wrapper{
  padding-left: 2em;
}
#skills {
  padding: 2em;
  background-color: #f9f9f9;
  display: flex;
  gap: 2em;
}

.skills-content {
  display: flex; 
  justify-content: space-between; 
  align-items: flex-end; 
  gap: 2em; 
}

.skills-container {
  flex: 1; 
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1em;
}

.skills-image {
  flex: 1; /* La colonne de l'image occupe tout l'espace disponible */
  display: flex;
  align-items: center;

}

.skills-image img {
  max-width: 100%; /* Image responsive */
  height: 35vw;
  border-radius: 10px; 
}

.skill {
  background-color: white;
  border: 1px solid #ddd;
  padding: 1em;
  border-radius: 8px;
  text-align: center;
}

.skill-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 0.5em;
}
.carousel-image{
  width: 100%;
  height: 100%;
}
.skill-header h3 {
  margin: 0;
}

.skill-header svg {
  font-size: 2em;
}

.skill-bar {
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  height: 25px;
}

.skill-level {
  height: 100%;
  text-align: right;
  padding-right: 10px;
  line-height: 25px;
  color: white;
  border-radius: 5px 0 0 5px;
  transition: width 0.3s ease-in-out;
}
/*code du composant categorybar*/
.category-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
h2{
  text-align: center;
}
.category-bar button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.category-bar button.active {
  background-color: #007BFF;
  color: white;
  border-color: #007BFF;
}
button:hover{
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
input{
  padding: 1em;
}
.input-remember label {
  margin-left: 0.25rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.input-wrapper label {
  font-weight: bold;
}

.input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}
textarea{
  height: 12vw;
}
.succesMessage{
  text-align: center;
}
/*composant Modal*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 70%;
  max-width: 700px;
  text-align: center;
  position: relative;
  opacity: 0; /* Départ transparent */
  transform: scale(0.8); /* Départ plus petit */
  animation: fadeIn 0.4s forwards ease-in-out; /* Animation d'apparition */
}

/* Animation d'apparition */
@keyframes fadeIn {
  to {
    opacity: 1; 
    transform: scale(1); 
  }
}
.modal-content-second{
  position: relative;
  display: flex;
}

.modal-image {
  width: 30%;
  height: auto;
  margin-bottom: 20px;
}
/* Compétences et infos */
.modal-details {
  display: flex;
  justify-content: space-between;
}

.modal-skills, .modal-info {
  width: 48%;
}

.skills-list {
  list-style: none;
  padding: 0;
}

.skill-item {
  background-color: #f0f0f0;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}
.techno-item{
  background-color: bisque;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}
/* Bouton de fermeture */
.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.about {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
  color: #333;
  margin: 20px 0;
  padding: 15px;
  background-color: #f9f9f9;
  border-left: 5px solid #00aaff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.about:hover {
  background-color: #e0f7ff;
  border-color: #0088cc;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #skills{
    display: flex;
    flex-direction: column;
  }
  .skills-image{
    justify-content: center;
  }
  .project-card{
    width: 42% !important;
  }
}

@media screen and (max-width: 767.98px){
  ul{
    padding: 0;
  }
.project-card{
  width: 100% !important;
}
.img-projet{
  object-fit: contain;
}
.modal-techno{
  display: none;
}
#skills{
  flex-direction: column;
}
.modal-image{
  display: none;
}
.skills-image{
  justify-content: center;
}
#hero{
  text-align: justify;
  max-width: 767px;
  height: auto;
}
.hero-content{
  height: auto !important;
}
.category-bar{
  display: grid;
  grid-template-columns: 150px 150px;
}
.modal-details{
  flex-direction: column;
}

.modal-skills{
  width: 100%;
}
.modal-info{
  width: 100%;
}
 .about, h1, p, strong  {
  font-size: 0.8em;
}

}